@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/GeistMonoVF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "GeistPixelCircle";
  src: url("./fonts/GeistPixelCircle.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

@import "tailwindcss";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "Geist Mono", monospace;
  --font-sans: "Geist", sans-serif;
  --font-pixel: "GeistPixelCircle", monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #030712;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f2937;
}

.docs-page {
  pre {
    background-color: var(--color-gray-200);
    padding: calc(var(--spacing) * 5) calc(var(--spacing) * 8);
    border-radius: var(--radius-lg);
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-gray-700);
    overflow-x: scroll;
    line-height: initial;
  }

  p {
    padding-top: calc(var(--spacing) * 1);
    padding-bottom: calc(var(--spacing) * 1);

    code {
      background-color: var(--color-gray-200);
      color: var(--color-sky-600);
      padding: calc(var(--spacing) * 1);
      border-radius: var(--radius-lg);
      font-size: var(--text-sm);
    }
  }
}

.dark .docs-page {
  pre {
    background-color: var(--color-gray-800);
    color: var(--color-gray-300);
  }

  p code {
    background-color: var(--color-gray-800);
  }
}
